.main-container {
  background-image: url(https://img.freepik.com/free-photo/morskie-oko-tatry_1204-510.jpg?size=626&ext=jpg&ga=GA1.1.422653845.1689146465&semt=ais);
  background-repeat: no-repeat;
  background-size: cover;
}
.card-login {
  background: rgb(77 107 112 / 66%) !important;
  border: none !important;
  box-shadow: rgb(112 112 253 / 91%) 0px 50px 100px -20px,
    rgb(85 201 232 / 30%) 0px 30px 60px -3px !important;
}
.login-logo {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 1rem;
}
.login-logo img {
  width: 24%;
  /* height: 70px; */
  border-radius: 50%;
}
.login-logo div:nth-child(2) {
  font-size: 28px;
  color: white;
  font-weight: 800;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.btn {
  background-color: rgb(20, 42, 67) !important;
  border: 1px solid rgb(20, 42, 67) !important;
  border-radius: 4px !important;
  /* background-color: rgb(79 122 178) !important;
  border: 1px solid rgb(79 122 178) !important;
  border-radius: 13px !important; */
}
.group-input {
  position: relative;
}
.user-icon {
  position: absolute;
  top: 8px;
  font-size: 20px;
  left: 8px;
  /* color: #597f8f; */
  color: #4f7ab2;
}

.form-control {
  padding: 8px 34px !important;
  background-color: hsla(0, 0%, 100%, 0.3607843137254902) !important;
  border: none !important;
}
.form-control:focus {
  color: #597f8f !important;
  background-color: aliceblue !important;
}

@media (max-width: 992px) {
  .login-logo div:nth-child(2) {
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .login-logo div:nth-child(2) {
    font-size: 22px;
  }
}

@media (max-width: 576px) {
  .login-logo div:nth-child(2) {
    font-size: 20px;
  }
  .user-icon {
    font-size: 18px;
  }
  .form-control {
    font-size: 16px;
  }
}
