.driver-record {
  font-size: 14px;
}
.proof {
  // display: flex;
  // justify-content: space-between;
  // align-items: baseline;
  text-align: initial !important;
}
.modal-footer {
  display: flex;
  justify-content: end !important;
  gap: 10px;
}
.form-outline {
  margin-top: 10px;
}
.modal-title {
  font-size: 20px;
  font-weight: bold;
}
